<div class="container-fluid">
  <!--declaracion de el nav con su color de fondo-->
<nav class="navbar navbar-light rounded" style="background-color: #b90e0ed0;" >
    <div class="container-fluid">
      <!--añadiendo tamaño al card text y centrando el titulo-->
      <div class="card text-center card border-success col-12" style="background-color: #ffffffd0;">
        <div class="card-header">
          <img src="/assets/image/pokedex_logo.png" alt="logo">
        </div>
      </div>
    </div>
</nav>
</div>
 <!-- agregamos el componente de pokemon -->
<app-pokemon></app-pokemon>